@media (color) {
  ::selection { background: indigo; color: turquoise }
  .flora :not(.nativa) { color: inherit }
  .solo.solo { background: violet; color: #111 }
  .luna.luna { background: plum; color: #111 }
  .jugo.jugo { background: hotpink; color: #111 }
  .nara.nara { background: coral; color: #111 }
}

:link {
  text-decoration-style: double;
  box-shadow: 0 1ex 1em 0 blueviolet;
  border-radius: 0;
}

:focus {
  box-shadow: 0 0 0 .2em #090909;
  outline-style: dashed;
  outline-width: 1ex;
}

.mundo {
  font-family: sans-serif;
  font-size: max(3ex, 3vmax);
  line-height: 1.618;
}

.cuerpo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.capo {
  font-size: 2rem;
}

b {
  font-style: inherit;
  text-transform: uppercase;
  font-weight: 500;
}

.vertebra {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.amor {
  margin: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.queefx {
  box-sizing: border-box;
  padding: 1em;
  border: 1em dotted yellow;
  display: block;
  min-height: 100vh;
}

:focus-within {
  box-shadow: 1em 0 3em 0 orange;
  border-style: groove;
}

.espejo  {
  transform: rotate(180deg);
}

.curva {
  border-radius: .2em;
}

.pad {
  box-sizing: border-box;
  padding: 1rem;
}

.voz {
  font-size: 0;
  line-height: 0;
  margin: 0;
}
